/* CardPick.css */
/* @keyframes fadeOut {
    to {
      opacity: 1;
      visibility: hidden;
    }
  } */
  
  .card-pick-fade-out {
    /* animation: fadeOut 4s cubic-bezier(1, 0.03, 1, 0.3) forwards; */
    z-index: 1;
    position: absolute;
    background-color: #fff;
    top: 0;
  }
  .fade-in{
    /* display: none; */
  }