@charset 'utf-8';


#root1 {
    width: 100vw;
    height: 15vh;
    /* background: #ff9e9e; */
}
#root2 {
    width: 100vw;
    height: 55vh;
    position: relative;
    /* background: #ff9e9e; */
}
#root3 {
    width: 100vw;
    height: 30vh;
    /* background: #ff9e9e; */
}
#top-area{
    height: 50%;
}
.topnav{
    display: flex;
}
.bottom-area {
    width: 100vw;
    height: 30vh;
    /* background: #ff9e9e; */
}
.bdl-gray{
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    
}
.top-logo{
    display: flex;
    gap: 15px;
    width: 70%;
}
.top-logo p{
    line-height: 1.7;
    font-size: 2.8rem;
    font-family: 'NeoDunggeunmoPro-Regular';
}
.top-logo img {
    height: 6vh;
    position: relative;
    top: 6px;
}
.search{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 15px;
    border: 1px solid #ccc;
    font-family: "GangwonState";
}
.search-icon{
    width: 70px;
    height: 70px;
    background: url(../img/hd_search_icon.png) no-repeat 50%;
    cursor: pointer;
    filter:  hue-rotate(28deg) brightness(0.0) contrast(1.85) grayscale(1.0);
    transition: .2s;
}
.search-icon:hover{
    
    filter:hue-rotate(28deg) brightness(1.2) contrast(1.85) grayscale(0.0);
}

#icon-box > ul {
    display: flex;
    flex-wrap: wrap;
}
/* .icon *{
    user-select: none;
    -webkit-user-drag: none;
} */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
    background: #d2ffce;
    outline: 1px solid #aaa;
    border-radius: 10px;
    flex-basis: calc(100% / 4);
}
.icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.icon span {
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    left: 10%;
}
.icon i {
    font-size: 2rem;
    position: absolute;
    top: 10%;
    right: 10%;
}
.icon p {
    font-size: 1rem;
}
/* .card-box{
    position: absolute;
    left: 90%;
    top: 6vh;
} */
.card-box > img {
    height: 313px;
    display: none;
    position: relative;
}
.bottom-area > h2 {
    text-align: center;
    line-height: 5;
}
.basket {
    display: flex;
    align-items: center;
    gap: 0 60px;
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    outline: 1px solid #aaa;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 80px;
}
.imozbox {
    display: flex;
    gap: 4px 0;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    outline: 1px solid #aaa;
    border-radius: 50%;
}
.imozbox p {
    text-align: center;
    font-size: 3rem;
}
.imozbox span {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.basket button {
    font-size: 1.2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 5%;
    top: calc(50% - 40px);
}
.container1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
.container2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.card-circle img {
    position: absolute;
    width: 120px;
}
