@charset "utf-8";

/* 초기화 */
html,
body,h1,h2,h3,h4,h5,h6,ul,ol,p,section,span {
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
.container {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.circle img {
    position: absolute;
    width: 120px;
    
}
