@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);

.top-area {
    height: 300px;
    background: #5aa15386;
}
.middle-area {
    height: 130px;
    background-color: #88557b57;
}
.bottom-area {
    height: 532px;
    background-color: #887c5557;
}
.vod-info{
    height: 300px;
    background: #5aa15386;
}
.vod-box{
        height: 662px;
    background-color: #887c5557;
}
.vod-box ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.vod-box li{
 height: 250px;
 width: 250px;
 text-align: center;
}