@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);

/* 하이라이트상단 */
.top-area {
    display: flex;
    height: 35vh;
    background: url(../이미지/toparea.jpg) no-repeat center/cover;
}
/* 상단 왼쪽구역 */
.left_box{
    position: relative;
    width: 50%;
    height: 100%;
}
.back_btn{
    position: absolute;
    transform: translate(50%,50%);
    font-size: 2vw;
}


/* 상단 오른쪽구역 */
.right_box{
    width: 50%;
    height: 100%;
}


.middle-area {
    display: flex;
    height: 15vh;
    /* background-color: #88557b57; */
}
.bottom-area {
    height: 50vh;
    background-color: #887c5557;
}
.vod-info {
    height: 35vh;
    background: #5aa15386;
}
.vod-box {
    height: 80vh;
    background-color: #887c5557;
}
.vod-box ul {
    /* background-color: #887c5557; */
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.vod-box li {
    width: 20vw;
    text-align: center;
}
.shoplink_1 {
    width: 50%;
    height: 15vh;
background: url(../이미지/굿즈/shop1.jpg) no-repeat center/cover;
}
.shoplink_2 {
    width: 50%;
    height: 15vh;
background: url(../이미지/굿즈/shop2.jpg) no-repeat center/cover
;
}