@charset "utf-8";

/* css불러오기 */

/* main-3 구분박스 */
.main-3{
    background: url(../이미지/단체.jpg) no-repeat center/100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    aspect-ratio: 16/9;
    background: #000000;
    transform: translateY(20%);
}
.trailer_mv {
    height: 90%;
    aspect-ratio: 16/9;
    background: #000000;
}

.txt-box_2{
    /* float: left; */
    height: 100%;
}
