@charset "utf-8";

/* css불러오기 */
@import url(./reset.css);
@import url(./common.css);


body {
    background: #000;
}


/* main-1 구분박스 */

.top-link {
    height: 10vh;
    background: #5aa15386;
}
.txt-box_1 {
    height: 80vh;
    background-color: #60558857;
}
/* main-2 구분박스 */
.middle-564w{
    height: 60vh;
    background: #5aa15386;

}
.txt-box_2{
    height: 30vh;
    background-color: #60558857;
}
/* main-3 구분박스 */

.display-box{
    height: 90vh;
    background: #5aa15386;
}
.header li { 
    
}