@charset "utf-8";

/* css불러오기 */
/* main-2 구분박스 */
.main-2{
    background: url(../이미지/vsbg.jpg) no-repeat top/100%;
}
.middle-box {
    display: flex;
    height: 80vh;
    /* background: #5aa15386; */
}
.bottom-area {
    display: flex;
    height: 20vh;
    /* background-color: #60558857; */
}

.txt-box_2{
    position: relative;
    /* float: left; */
    height: 100%;
}
.txt-box_2 p{
    top: 1vh;
    width: 11vw;
}
.left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.right-box{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 100%;
}
.monster_logo{
    background: url(../이미지/로고이미지/최강몬스터즈.png)no-repeat center/100%;
}
.dusan_logo{
    background: url(../이미지/로고이미지/두산.png)no-repeat center/70%;
}
.ssg_logo{
    background: url(../이미지/로고이미지/ssg.png)no-repeat center/70%;
}
.nc_logo{
    background: url(../이미지/로고이미지/nc다이노스.png)no-repeat center/70%;
}
.kt_logo{
    background: url(../이미지/로고이미지/kt위즈.png)no-repeat center/70%;
}
