@charset "utf-8";

/* css불러오기 */
/* main-2 구분박스 */
.main-2{
    background: url(../이미지/);
}
.middle-box {
    height: 70vh;
    background: #5aa15386;
}
.bottom-area {
    display: flex;
    height: 30vh;
    background-color: #60558857;
}
/* main-3 구분박스 */

.display-box {
    height: 90vh;
    background: #5aa15386;
}

.txt-box_2{
    /* float: left; */
    height: 100%;
}
