@charset "utf-8";

/* 초기화 */
html,
body,h1,h3,ul,ol,h2,p,section,span {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}