@charset 'utf-8';

#root1 {
    width: 100vw;
    height: 10vh;
    /* background: #ff9e9e; */
}
#root2 {
    width: 100vw;
    height: 60vh;
    position: relative;
    /* background: #ff9e9e; */
}
#root3 {
    width: 100vw;
    height: 30vh;
    /* background: #ff9e9e; */
}
.bottom-area {
    width: 100vw;
    height: 30vh;
    /* background: #ff9e9e; */
}
.top-logo {
    font-size: 2.8rem;
    text-align: center;
    line-height: 1;
}
.top-logo img {
    height: 7vh;
    position: relative;
    bottom: -10px;
    right: 10px;
}

#icon-box {
    width: 70%;
    position: absolute;
    left: 15vw;
}

#icon-box > ul {
    display: flex;
    flex-wrap: wrap;
}
/* .icon *{
    user-select: none;
    -webkit-user-drag: none;
} */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
    background: #d2ffce;
    outline: 1px solid #aaa;
    border-radius: 10px;
    flex-basis: calc(100% / 4);
}

.icon span {
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    left: 10%;
}
.icon i {
    font-size: 2rem;
    position: absolute;
    top: 10%;
    right: 10%;
}
.icon p {
    font-size: 1rem;
}
/* .card-box{
    position: absolute;
    left: 90%;
    top: 6vh;
} */
.card-box > img {
    height: 313px;
    display: none;
    position: relative;
}
.bottom-area > h2 {
    text-align: center;
    line-height: 5;
}
.basket {
    display: flex;
    align-items: center;
    gap: 0 60px;
    position: relative;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    outline: 1px solid #aaa;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 80px;
}
.imozbox {
    display: flex;
    gap: 4px 0;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    outline: 1px solid #aaa;
    border-radius: 50%;
}
.imozbox p {
    text-align: center;
    font-size: 3rem;
}
.imozbox span {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.basket button {
    font-size: 1.2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 5%;
    top: calc(50% - 40px);
}
.container1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
.container2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.card-circle img {
    position: absolute;
    width: 120px;
}
