.info-box{width: 1440px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
margin: 0 auto;
display: flex;
}



/* 학력 정보 스타일 */
.info {
    display: table;
    width: 100%;
    border-spacing: 10px; /* 셀 간격을 조정할 수 있습니다. */
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .info h2 {
    width: 200px;

    font-size: 1.2rem;
    line-height: 2;
  }
  
  /* 테이블 헤더 스타일 */
  .info th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  /* 테이블 셀 스타일 */
  .info td {
    line-height: 1.6;
    padding: 10px;
    border: 1px solid #ddd; /* 셀 테두리 스타일을 지정할 수 있습니다. */
  }
  
  /* 강조 텍스트 스타일 */
  .info strong {
    color: #007bff;
  }